<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://imgs.search.brave.com/3Sf7_DmNJcG6dU0ndo-oudNW0zQOh5ujMlc8nExP5MI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9taXJv/Lm1lZGl1bS5jb20v/djIvMSpZUWtoalJQ/bEN0SXZfQ2liUjdP/ZnBRLnBuZw"
    height="200px"
    alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo praesentium numquam ullam? Id qui natus eaque quisquam dignissimos. Doloribus culpa fugit voluptatibus impedit atque et ab voluptates fugiat maxime. Pariatur.</a></p>
  </div>
</div>
