<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id="1"
      photoCover="https://imgs.search.brave.com/14Hl91ntNobrpTbVawXn_CuVlGVPl5O387CydPiHP40/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9sZWdh/ZG9kYW1hcnZlbC5j/b20uYnIvd3AtY29u/dGVudC91cGxvYWRz/LzIwMjMvMDcvbGVn/YWRvZGFtYXJ2ZWwt/aG9tZW0tZGUtZmVy/cm8td2hhdC1pZi1u/b3ZhLWFybWFkdXJh/LndlYnA"
      cardTitle="Tony Stark Retorna em Nova Série"
      cardDescription="Tony Stark, está pronto para fazer um retorno emocionante às páginas dos quadrinhos. A Marvel Comics anunciou uma nova série intitulada 'Iron Resurgence', que promete trazer de volta o brilhante inventor e super-herói após os eventos impactantes da série 'Iron Legacy'. "></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card Id="2"
      photoCover="https://imgs.search.brave.com/C9mlg73SY_ibo66mLDkOtKYr_bSze1hLWLXJL4V2xn4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWRzLmpvdmVtbmVy/ZC5jb20uYnIvd3At/Y29udGVudC91cGxv/YWRzLzIwMjMvMDUv/YXJhbmhhXzIwOTlf/dWx0aW1hdGVfaG9t/ZW1fYXJhbmhhX18x/N3g5b3AzLTc2MHg0/MjQuanBn"
      CardTitle=" Homem-Aranha se Une a Outros Heróis"></app-small-card>
    <app-small-card Id="3"
      photoCover="https://imgs.search.brave.com/2YkwaWwgARYBRRMBENIm33uhbXQekGvjvwT5vDmD24s/rs:fit:860:0:0/g:ce/aHR0cDovL2Rpc25l/eXBsdXNicmFzaWwu/Y29tLmJyL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIxLzEwL0Fy/bW9yLVdhcnMtRGlz/bmV5LVBsdXMtMTAy/NHg1NzYuanBn"
      CardTitle="Série Disney+ 'Armor Wars'"></app-small-card>
    <app-small-card Id="4"
      photoCover="https://imgs.search.brave.com/Yo1RjQ6tZS574F4mU1db3lTzMGTvZGl1FdSz3Zpz29Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvbXMtbWFydmVs/LTBjNmNudm0zb29i/Y20zaWEuanBn"
      CardTitle="Série Disney+ 'Ms. Marvel'"></app-small-card>
  </div>
</div>
